.card_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3 / 2;
  border-radius: 20px;
  margin-bottom: 18px;
}
.card_sub_title {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: -0.00875rem;
  margin-bottom: 4px;
  color: #f54b1e;
}
.card_title {
  margin-bottom: 6px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.4px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_date {
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.00875rem;
  color: #999999;
}
