.image_card {
  aspect-ratio: 1.425 / 2;
  overflow: hidden;
}
.image_card a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  background-color: rgba(26, 26, 26, 0.35);
}
.image_card_info {
  display: flex;
  top: 0;
  padding: 30px 28px;
  flex-direction: column;
  gap: 16px;
  z-index: 2;
}

.image_card_info h5 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.4px;
}
.image_card_info small {
  color: #ffffff;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.00875rem;
}
.image_card_image {
  background-position: center;
  background-size: cover;
  flex-direction: column;
  gap: 16px;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.image_card_image,
.image_card {
  border-radius: 16px;
}
@media (max-width: 768px) {
  .image_card_info h5 {
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 20px;
  }
}
