.swiper-cards .swiper-slide {
  transform-origin: center center;
}

.swiper-cards .swiper-slide:not(.swiper-slide-active) {
}

.swiper-cards {
  overflow: visible;
  perspective: 1200px;
}
.swiper-cards .swiper-slide-shadow,
.swiper-cards .swiper-slide-shadow-left,
.swiper-cards .swiper-slide-shadow-right {
  display: none;
}

.swiper-wrapper {
}

.swiper-item {
  height: 350px;
  display: flex;
  padding: 40px 30px;

  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  border-radius: 20px;
  color: #ffffff;
  position: relative;
  background-color: rgba(26, 26, 26, 0.35);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.swiper-container-wrapper {
  position: relative;
  padding-top: 50px;
  padding-bottom: 40px;
}

/* 커스텀 페이지네이션 */
.custom_pagination {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

button {
  all: unset;
  background: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.custom_pagination .swiper-pagination-prev.main_prev {
  margin-right: 22px;
}
.custom_pagination .swiper-pagination-next.main_next {
  margin-left: 22px;
}

.main_icon_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  background-image: url("/asset/icon_arrow_left.svg");
  background-position: center;
  background-repeat: no-repeat;
  color: #252525;
}

.main_icon_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  background-image: url("/asset/icon_arrow_right.svg");
  background-position: center;
  background-repeat: no-repeat;
  color: #252525;
}

.custom_pagination .swiper-pagination {
  position: initial;
  width: initial;
}

.custom_pagination .swiper-pagination-play {
  margin-left: 22px;
}

.icon_play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  background-image: url("/asset/icon_play.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.custom_pagination .swiper-pagination-pause {
  margin-left: 16px;
}

.icon_pause {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  background-image: url("/asset/icon_pause.svg");
  background-position: center;
  background-repeat: no-repeat;
}
/* 다트 버튼 */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid black;
}
.swiper-pagination-bullet-active {
  background-color: #000000 !important;
}

.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}
/* 메인 슬라이드 텍스트 */
.main_slide_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_slide_title {
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 3.25rem;
  letter-spacing: -0.055rem;
}
.main_slide_sub_title {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.375rem;
  letter-spacing: -0.0225rem;
}
.detail_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.32px;
  background-color: #000000;
  border-radius: 50px;
}

@media (max-width: 1100px) {
  .main_slide_title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .main_slide_sub_title {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

/* 화면 748px 이하 */
@media (max-width: 748px) {
  .main_slide_title {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  .main_slide_sub_title {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
  .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin-right: 3px;
  }
  .custom_pagination .swiper-pagination-prev,
  .custom_pagination .swiper-pagination-next {
    display: none !important;
  }
}
