.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 2px;
  background-color: rgb(217, 217, 217);
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;

  left: 0px;
  top: 0px;
  background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
}
.section_title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 7px;
  white-space: nowrap;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: -0.035rem;
}
.slideSwiper {
  position: initial;
}
.slideSwiper > .swiper-wrapper {
  padding-bottom: 60px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 28px;
}
